<article class = "post">
    <!-- TODO link title to a single page post -->
    <h2>
        {{title}}
    </h2>
    <p>
        {{content}}
    </p>
    <div>
        by {{user.username}}
    </div>
    <div>
        {{format_date createdAt}}
    </div>
</article>