<!-- loops for each post and goes to post block partial -->
<h2 class="home-title">Home</h2>

<section class="post-section">
    {{#each posts as |post| }}
        {{> post-block  logged_user=../logged_user}}
    {{/each}}
</section>

