.header nav
{
  margin-right: 20px;
  margin-top: 5px;
}

.header nav ul {
  list-style-type: none;
}

.header nav ul li 
{
  display: inline-block;
  margin-left: 25px;
  text-decoration: none;
}
.header nav ul li .nav-link
{
  color: white;
  text-decoration: none;
}

.header nav ul li .nav-link:hover
{
  color: lime;
}

#logout:hover{
  cursor: pointer;
}

body{
  background-attachment: fixed;
  background-image: linear-gradient(rgb(88, 88, 88), white);
}
main{
  padding-left: 30px;
}

@media screen and (max-width: 768px){
  main{
    padding: 0px;
  }
}

h1{
  color: lime;
}
h1, h2{
  margin: 20px;
}

h3{
  font-size: larger;
}
.comment-section-title{
  margin: 20px;
}
/* saves white space */
textarea{
  white-space: pre-wrap;
}
/* only keeps new line white spaces */
.content{
  white-space:pre-line;
}

.dashboard-user, .home-title{
  color: lightgreen;
  font-size: 25px;

}
.card{
  padding: 20px;
  max-width: 500px;
  max-height: 600px;
  margin: 10px;
}

.post-section{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.post-info{
  display: flex;
  justify-content: right;
}
.post-info > *{
  margin-left: 30px;
}
.card-title{
  color: darkgreen;
  font-size: larger;
  text-decoration: none;
}

.card-title:hover{
  color: blue;
}
.author-link{
  color: darkgreen;
  text-decoration: none;
}

.author-link:hover{
  color: blue;
}

.login-title{
  color: darkgreen;
  font-size: larger;
  text-decoration: none;
  margin: 0px;
}

.login-wrapper{
  display: flex;
  flex-wrap: wrap;
}

.form-group{
  margin-top: 10px;
}

#password-warning{
  margin-top: 10px;
  color:red;
}

.btn-group
{
  padding-top: 10px;
  max-width: 500px;
}

.post-block .overflow-wrapper{
  max-height: 350px;
  overflow: auto;
  margin-bottom: 10px;
}

textarea{
  max-width: 460px;
  max-height: 600px;
  
  border:20px solid white;
}
@media screen and (max-width: 768px){
  textarea{
    max-width: 320px;
    max-height: 200px;
  }
}

.no-posts-message{
  padding: 20px;
  color: blue;
  background-color: aqua;
  border-radius: 25px;;
}

